# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
 

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: xiaohongczh/xelatex:latest
      options: --entrypoint /bin/bash
    steps:
      - uses: actions/checkout@v2
      - name: build doc
        shell: bash
        run: |
          /bin/bash -c fnm list
          /bin/bash -c tlmgr --help
          /bin/bash -c tlmgr --help
          /bin/bash -c node -v
          /bin/bash -c pandoc -v
          
#       - name: build doc
#         shell: bash
#         run: |
#          echo $PATH
#           export PATH=$PATH:/usr/local/texlive/2021/bin/x86_64-linux:/root/.fnm:$PATH
#           echo $PATH
#           mkdir docs
#           pandoc --toc --toc-depth=2 -s --resource-path=src/pages/docs/docs-enterprise-db/cloud-db/v2.0.0/site/en/export_pdf -f markdown+link_attributes -V geometry:"left=2cm, top=2cm, right=2cm, bottom=2cm"  -V fontsize=10pt -V mainfont="Symbola" -V CJKmainfont="AR PL SungtiL GB"  -V title="Test PDF"  --pdf-engine=xelatex -o  ./docs/test_20_en.pdf src/pages/docs/docs-enterprise-db/cloud-db/v2.0.0/site/en/export_pdf/doc_cloud-db_v2.0.0_en.md
#           pandoc --toc --toc-depth=2 -s --resource-path=src/pages/docs/docs-enterprise-db/cloud-db/v2.0.0/site/zh-CN/export_pdf -f markdown+implicit_figures -V geometry:"left=2cm, top=2cm, right=2cm, bottom=2cm" -V fontsize=10pt -V mainfont="Symbola" -V CJKmainfont="AR PL SungtiL GB"  -V title="Test PDF"  --pdf-engine=xelatex -o  ./docs/test_20_cn.pdf src/pages/docs/docs-enterprise-db/cloud-db/v2.0.0/site/zh-CN/export_pdf/doc_cloud-db_v2.0.0_zh-CN.md
#           cd docs
#           ls
          
          
      - uses: jakejarvis/s3-sync-action@master
        if: 1==2
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-west-2'   # optional: defaults to us-east-1
          SOURCE_DIR: './docs'      # optional: defaults to entire repository
          DEST_DIR: 'docs'
